body {
    background-image: image-set("biblioteca.png");
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.success {
    
    color: white;
    font-size: 20px;
}

.error {
    color: red;
    font-size: 20px;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}